@charset "utf-8";

#wrap{
    width: 90%;
    max-width: 1200px;
    height: 60rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

#contents_title{
    width: 100%;
    height: calc(10% - 2.0625rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid gray;
    font-size: 3.5rem;
    text-align: center;
}

#contents_nav{
    width: 100%;
    height: 7%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

    #contents_nav li{
        width: 25%;
        height: 50%;
        font-size: 2rem;
        text-align: center;
    }

    #contents_nav li:not(:first-child){
        width: calc(25% - 0.0625rem);
        border-left: 0.0625rem solid gray;
    }

/* 개별 파일 설정(char_info.html) */

.info_position{ /* 맨 위쪽 생감 구분표 */
    width: 100%;
    height: 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    visibility: hidden;
}

    .info_position span{
        width: 20%;
        height: calc(100% - 2.0rem);
        padding-top: 0.5rem;
        border: 0.0625rem solid gray;
        border-bottom: none;
        margin-top: 1.5rem;
        font-size: 1.7rem;
        text-align: center;
        cursor: pointer;
    }

    .info_position span:first-child{
        border-right: none;
    }

.select_position{ /* 생감 선택창 */
    width: 100%;
    height: 70%;
    border: 0.0625rem solid gray;
    display: flex;
    flex-flow: row wrap;
}

    .survivor{
        width: calc(50% - 0.0625rem);
        height: 100%;
        border-right: 0.0625rem solid gray;
        display: flex;
        flex-flow: row wrap;
        cursor: pointer;
    }

    .hunter{
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        cursor: pointer;
    }

    .position_img{
        width: 90%;
        height: 80%;
        margin: auto;
        text-align: center;
    }

    .position_name{
        width: 90%;
        height: 10%;
        margin: auto;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        text-align: center;
    }

/* 캐릭터 스탯 */
#character_stats{
    width: calc(100% - 0.125rem);
    height: calc(80% - 0.125rem);
    border: 0.0625rem solid gray;
    display: flex;
    flex-flow: column wrap;
}

#talent_setting{
    width: 40%;
    height: 75%;
    margin: auto;
    display: grid;
    grid-template-areas:
    ".    .    .    .    twM3 .    .    .    ."
    ".    .    twL2 twL3 twM2 .    .    .    ."
    ".    .    .    twL1 twM1 twR1 .    thL2 ."
    ".    .    niR1 .    tw   .    thL1 thL3 ."
    "niM3 niM2 niM1 ni    .    th   thM1 thM2 thM3"
    ".    niL3 niL1 .    six  .    thR1 .    ."
    ".    niL2 .    siR1 siM1 siL1 .    .    ."
    ".    .    .    .    siM2 siL3 siL2 .    ."
    ".    .    .    .    siM3 .    .    .    ." ;
}

    /* 3시인격 */
    #talent_hogisim{
        grid-area: th;
    }

    #talent_escape{
        grid-area: thM1;
    }

    #talent_saeongjima{
        grid-area: thM2;
    }

    #talent_adrenaline{
        grid-area: thM3;
    }

    #talent_soreum{
        grid-area: thR1;
    }

    #talent_bunsan{
        grid-area: thL1;
    }

    #talent_snooze{
        grid-area: thL2;
    }

    #talent_aung{
        grid-area: thL3;
    }
    /* 6시인격 */
    #talent_suspension{
        grid-area: six;
    }

    #talent_messiah{
        grid-area: siM1;
    }

    #talent_mentality{
        grid-area: siM2;
    }

    #talent_borrowedtime{
        grid-area: siM3;
    }

    #talent_mechadapt{
        grid-area: siR1;
    }

    #talent_salgeum{
        grid-area: siL1;
    }

    #talent_uiryoin{
        grid-area: siL2;
    }

    #talent_shelter{
        grid-area: siL3;
    }
    /* 9시인격 */
    #talent_soupdog{
        grid-area: ni;
    }

    #talent_malpari{
        grid-area: niM1;
    }

    #talent_knee{
        grid-area: niM2;
    }

    #talent_lithe{
        grid-area: niM3;
    }

    #talent_gusa{
        grid-area: niR1;
    }

    #talent_dillema{
        grid-area: niL1;
    }

    #talent_survive{
        grid-area: niL2;
    }

    #talent_power{
        grid-area: niL3;
    }
    /* 12시인격 */
    #talent_kindred{
        grid-area: tw;
    }

    #talent_unbreakable{
        grid-area: twM1;
    }

    #talent_symbiotic{
        grid-area: twM2;
    }

    #talent_spectator{
        grid-area: twM3;
    }

    #talent_obsession{
        grid-area: twR1;
    }

    #talent_instinct{
        grid-area: twL1;
    }

    #talent_healing{
        grid-area: twL2;
    }

    #talent_lighter{
        grid-area: twL3;
    }

#item_effects{
    width: 40%;
    height: 20%;
    margin: auto;
}

#total_stats{
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

