@charset "utf-8";

body{
    touch-action: manipulation;
}

#wrap{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    font-size: 2.5rem;
}

    #contents_title{
        width: 100%;
        height: calc(10rem - 1px);
        display: flex;
        text-align: center;
        justify-content: center;
        border-bottom: 1px grey solid;
    }

        /* 제목 양 옆 아이콘 부분 디자인 */

        #contents_title span{
            width: calc(20% - 1px);
            height: 100%;
            font-size: 2.5rem;
            line-height: 9rem;
        }

            #contents_title span:first-child{
                border-right: 1px grey solid;
            }

            #contents_title span:last-child{
                border-left: 1px grey solid;
            }

        /* 제목 부분 디자인 */

        #contents_title h2{
            width: 70%;
            height: 100%;
            font-size: 7rem;
            line-height: 9rem;
        }

    #contents_nav, #selector{
        width: calc(90% - 1px);
        height: calc(80rem - 1px);
        margin-bottom: 2rem;
        display: none;
        flex-flow: row wrap;
        align-content: flex-start;
        border-bottom: 1px solid gray;
    }

        /* 메뉴바 디자인 */
        #contents_nav{
            border-right: 1px solid gray;
        }

        #contents_nav li{
            width: 85%;
            height: 8rem;
            margin-left: 15%;
            font-size: 3rem;
            line-height: 8rem;
        }

    #selector{
        margin-left: 10%;
        border-left: 1px solid gray;
        overflow-y: scroll;
    }

        #selector div{
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-content: center;
        }

        /* 기본기능 */

        #settings{
            height: 8rem;
        }

            #settings button{
                width: 30%;
                height: 8rem;
                font-size: 2.4rem;
                font-family: 'Noto Serif KR';
            }

        /* 정보창 */

        div#informations{
            height: 72rem;
            display: none;
            text-align: center;
            line-height: 3.5rem;
        }

        /* 페이지 1 카테고리 */

        div#kind_selector, div#grade_selector{
            height: 14rem;
            justify-content: center;
        }

            #kind_selector h2, #grade_selector h2{
                width: 90%;
                height: 6rem;
                text-align: left;
                line-height: 6rem;
            }

            #kind_selector li, #grade_selector li{
                width: 19%;
                height: 6rem;
                margin: 0 auto;
                text-align: center;
                line-height: 6rem;
                font-size: 2.4rem;
            }

        /* 페이지 2 카테고리 */

        div#category_selector{
            display: none;
            height: 14rem;
            justify-content: center;
        }
        div#survivor_selector, div#hunter_selector, div#event_selector{
            display: none;
        }

            #category_selector h2{
                width: 90%;
                height: 6rem;
                text-align: left;
                line-height: 6rem;
            }

            #category_selector li{
                width: 19%;
                height: 6rem;
                margin: 0 auto;
                text-align: center;
                line-height: 6rem;
                font-size: 2.4rem;
            }

            #category_role{
                background-color: aqua;
            }

            #survivor_selector li, #hunter_selector li{
                width: 15%;
                height: 5rem;
                text-align: center;
                margin: 0.5rem 0;
                line-height: 5rem;
            }

            #event_selector li{
                width: 19%;
                height: 3rem;
                text-align: center;
                margin: 0.5rem 0;
                line-height: 3rem;
            }

        /* 페이지 공통 */
        #kind_selector h2, #category_selector h2{
            width: 60%;
        }

        #kind_selector button, #category_selector button{
            width: 30%;
            font-size: 2.5rem;
            font-family: 'Noto Serif KR';
        }

        #command_button{
            height: 6rem;
            padding: 0.5rem 0;
        }

        #command_button button{
            width: 30%;
            height: 100%;
            font-size: 2.5rem;
            font-family: 'Noto Serif KR';
        }

    /* 스킨체크표 */

    #skin_checking{
        width: 100%;
    }
    #skin_checking div{
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #skin_checking div img{
        filter: brightness(0.3);
        width: 12.5%;
        height: 10rem;
    }

    img.B_grade, img.C_grade{
        display: none;
    }

    div#others{
        align-items: flex-end;
    }

    div#others img.house, #skin_checking div img.acce{
        height: 7rem;
        display: block;
    }

    footer{
        width: 100%;
        margin-top: 3rem;
        display: flex;
        flex-flow: row wrap;
        border-top: 1px solid grey;
    }
        footer p{
            width: 100%;
            height: 50rem;
            margin-top: 3rem;
            text-align: center;
            font-size: 2.5rem;
            line-height: 4rem;
        }
        