@charset "utf-8";

#wrap{
    width: 90%;
    max-width: 1200px;
    height: 60rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

#contents_title{
    width: 100%;
    height: calc(10% - 2.0625rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid gray;
    font-size: 3.5rem;
    text-align: center;
}

#contents_nav{
    width: 100%;
    height: 7%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

    #contents_nav li{
        width: 25%;
        height: 50%;
        font-size: 2rem;
        text-align: center;
    }

    #contents_nav li:not(:first-child){
        width: calc(25% - 0.0625rem);
        border-left: 0.0625rem solid gray;
    }


/*skin_check.html*/
#checking_skins{
    width: calc(100% - 0.125rem);
    height: calc(70% - 0.125rem);
    border: 0.0625rem solid gray;
    display: flex;
}

    #checking_skins a{
        width: calc(100% / 3);
        height: 90%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
    }

        #checking_skins a img{
            width: 90%;
            height: 80%;
            margin: auto;
        }

        #checking_skins a span{
            width: calc(90% - 1rem);
            height: calc(10% - 1rem);
            padding: 0.5rem;
            margin: auto;
            font-size: 2rem;
        }
    
#kind_selector{
    width: 100%;
    height: 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    visibility: visible;
}

    #kind_selector li{
        width: calc(20% - 0.125rem);
        height: calc(100% - 2.125rem);
        padding-top: 0.5rem;
        margin-top: 1.5rem;
        border: 0.0625rem solid gray;
        border-bottom: none;
        font-size: 1.3rem;
        text-align: center;
    }
    #kind_selector li:not(:first-child){
        border-left: none;
    }

#skin_imgs, #accessary_imgs{
    width: 80%;
    height: 95%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
}

    #skin_imgs img, #accessary_imgs img{
        width: 7%;
        height: 14%;
        background-color: aliceblue;
        filter: brightness(0.5);
    }

    #not_playable{
        width: calc(100%);
        height: 14%;
        display: flex;
        flex-flow: row wrap;
    }

        #not_playable img{
            width: 7%;
            height: 100%;
        }

        #not_playable span{
            text-align: end;
            width: 71%;
            height: 100%;
            line-height: 1.2;
        }

#skin_selectors{
    width: 18%;
    height: 95%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
}

    #skin_selectors h2{
        width: 50%;
        height: clac(3% - 0.5rem);
        text-align: center;
    }

    #skin_selectors h2{
        cursor: pointer;
        padding-bottom: 0.25rem;
        padding-top: 0.5rem;
    }

    #choicer, #remover{
        width: 100%;
        height: 95%;
        display: none;
        flex-flow: row wrap;
        margin: auto;
    }

    #choicer li, #remover li{
        width: calc(33%);
        height: 4%;
        border-top: 0.0625rem solid aliceblue;
        margin: auto;
        cursor: pointer;
        text-align: center;
        filter: brightness(0.7);
        background-color: whitesmoke;
    }